.primary-button {
  display: block;
  text-decoration: none;
  color: #DF2E7F;
  background: #FDF5F9;
  border-radius: 4px;
  line-height: 1em;
  padding: .75em 1em;
  font-weight: 500;
  -webkit-transition: all .3s ease 0ms;
     -moz-transition: all .3s ease 0ms;
      -ms-transition: all .3s ease 0ms;
       -o-transition: all .3s ease 0ms;
          transition: all .3s ease 0ms;

  i {
    margin-right: .5em;
  }

  &:hover {
    background-color: #DF2E7F;
    color: #FFFFFF;
  }
}
