.primary-button {
  display: block;
  font-size: .85em;
  text-decoration: none;
  color: #dd3478;
  border: 2px solid #dd3478;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.6em 1em;
  font-weight: 700;
  -webkit-transition: all .3s ease 0ms;
     -moz-transition: all .3s ease 0ms;
      -ms-transition: all .3s ease 0ms;
       -o-transition: all .3s ease 0ms;
          transition: all .3s ease 0ms;

  i {
    margin-right: .5em;
  }

  &:hover {
    background-color: #dd3478;
    color: #FFFFFF;
  }
}