// 0px+
div[class="doc-list"] {
  h3 {

  }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin: 0;
      padding: .75em 0;
      border: none;
      border-bottom: 1px solid rgba(0,0,0,.1);

      i {
        color: rgba(0,0,0,.2);
        margin-right: 10px;
      }

      a {

      }

      &:first-child {
        border-top: 1px solid rgba(0,0,0,.1);
      }
    }
  }
}

// 576px+
@media all and (min-width: 576px) {
  div[class="doc-list"] {
    ul {
      margin-left: 1.666rem;
    }
  }
}


// 992px+
@media all and (min-width: 992px) {
  div[class="doc-list"] {
    ul {
      margin-left: 0;
    }
  }
}


// 1200px+
@media all and (min-width: 1200px) {
  div[class="doc-list"] {
    ul {
      margin-left: 1.666rem;
    }
  }
}