// 0px+
div[class="doc"] {
  div[class="doc-content"] {
    h1[class="doc-title"] {

      &:after {
        content: "";
        display: block;
        width: 100px;
        height: 5px;
        background: #8F1948 linear-gradient(45deg, #8F1948, #ff3695);
        border-radius: 3px;
        margin-top: .833rem;
      }
    }

    div[class="doc-body"] {
      pre[class^="language-"] {
        position: relative;
        font-size: .8em !important;
      }

      pre:not([class^="language-"]) {
        background-color: rgba(0,0,0,.05);
        border: 1px solid rgba(0,0,0,.1);
        padding: .75em 3em;
        border-radius: 5px;
      }

      img {
        display: block;
        margin: 0 auto;
        padding: 1em;
        background-color: rgba(0,0,0,.05);
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 5px;
        width: auto;
        height: auto;
      }

      em {
        font-size: .8em;
      }

      p[class="param-name"] {
        margin-bottom: 0;
      }

      p[class="param-desc"] {
        padding-left: 1em;
      }

      [class="request-type get"] {
        margin-right: 1em;
        background-color: #E0EFE6;
        color: #57A773;
        border-radius: 3px;
        font-size: .75em;
        font-weight: 700;
        padding: .25em 0.375em;
        -webkit-box-shadow: 1px 1px 3px #57A773;
           -moz-box-shadow: 1px 1px 3px #57A773;
                box-shadow: 1px 1px 3px #57A773;
      }

      [class="request-type post"],
      [class="request-type put"] {
        margin-right: 1em;
        background-color: #EEF3F5;
        color: #175676;
        border-radius: 3px;
        font-size: .75em;
        font-weight: 700;
        padding: .25em 0.375em;
        -webkit-box-shadow: 1px 1px 3px #175676;
           -moz-box-shadow: 1px 1px 3px #175676;
                box-shadow: 1px 1px 3px #175676;
      }
    }

    div[class="doc-footer"] {
      margin: 3em 0 2em;
      padding: 1.5em 0 0;
      text-align: center;
      border-top: 1px solid rgba(0,0,0,.1);
    }
  }
}

// 576px+
@media all and (min-width: 576px) {
  div[class="doc"] {
    div[class="doc-content"] {
      div[class="doc-footer"] {
        display: flex;
        margin-top: 3em;
        justify-content: space-between;
      }
    }
  }
}

// 768px+
@media all and (min-width: 768px) {
}

// 992px+
@media all and (min-width: 992px) {
  div[class="doc"] {
    display: flex;
    width: 100%;
    margin-bottom: 3em;

    div[class="doc-content"] {
      width: 75%;
      padding-right: 3em;

      h1[class="doc-title"] {
        font-size: 2.5em;
      }

      div[class="doc-body"] {
        span[class="request-type"] {
          display: block;
          background-color: red;
        }

        ul {
          li {
            margin: 0;
          }
        }
      }

      div[class="doc-articles"] {
          div {
            margin-bottom: 0;
          }
      }

      div[class="doc-footer"] {
        margin-bottom: 0;
      }
    }
  }
}

// 1200px+
@media all and (min-width: 1200px) {
}