* {
    box-sizing: border-box;
}

html, body {
    color: #666;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: #8F1948;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.row {
    width: 100%;
}

[class^="col-"] {
    vertical-align: top;
    display: inline-block;
    padding-right: 0;
    margin-bottom: 1em;
    width: 100%;
}

/* 576px+ */
@media all and (min-width: 576px) {
}

/* 768px+ */
@media all and (min-width: 768px) {
}

/* 992px+ */
@media all and (min-width: 992px) {
    [class^="col-"] {
        padding-right: 2em;
    }

    .col-1  { width: 8.33%  }
    .col-2  { width: 16.67% }
    .col-3  { width: 25%    }
    .col-4  { width: 33.33% }
    .col-5  { width: 41.67% }
    .col-6  { width: 50%    }
    .col-7  { width: 58.33% }
    .col-8  { width: 66.67% }
    .col-9  { width: 75%    }
    .col-10 { width: 83.33% }
    .col-11 { width: 91.67% }
    .col-12 { width: 100%   }
}

/* 1200px+ */
@media all and (min-width: 1200px) {
}