// 0px+
[id="main-content"] {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2em;
}

// 576px+
@media all and (min-width: 576px) {
}

// 768px+
@media all and (min-width: 768px) {
}

// 992px+
@media all and (min-width: 992px) {
}

// 1200px+
@media all and (min-width: 1200px) {
}
