div[class="card"] {

  div[class="card-icon"] {
    display: table-cell;
    width: 56px ;

    i {
      background-color: #8F1948;
      color: #FFF;
      width: 52px;
      height: 52px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      line-height: 52px;
      border-radius: 50%;
      font-size: 1.5em;
    }
  }

  div[class="card-text"] {
    display: table-cell;
    padding-left: 1em;

    h3 {
      font-size: 1.7em;
      margin-bottom: .5em;
    }

    p {

    }
  }
}