div[class="card"] {
  display: flex;

  div[class="card-icon"] {
    flex-basis: 40px ;

    i {
      background-color: #DF2E7F;
      color: #FFF;
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      line-height: 40px;
      border-radius: 50%;
      font-size: 1em;
    }
  }

  div[class="card-text"] {
    flex-grow: 1;
    display: table-cell;
    padding-left: 1em;

    h3 {
      font-size: 1.7em;
      margin-bottom: .5em;
    }

    p {

    }
  }
}
