// 0px+
nav {
  height: 50px;

  > div {
    height: 100%;

    div[class="logo"] {
      align-self: center;
      display: flex;
      justify-content: center;
      height: 100%;

      a {
        align-self: center;

        img {
          max-width: 200px;
          display: block;
          margin: 0;
        }
      }
    }

    div[class="links"] {
      display: none;
    }
  }
}

// 576px+
@media all and (min-width: 576px) {
}

// 768px+
@media all and (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1360px;
    height: 60px;
    background-color: #FFFFFF;
    z-index: 99999;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

    > div {
      display: flex;
      justify-content: space-between;

      div[class="logo"] {
        align-self: center;

        a {
          img {
            max-width: 250px;
          }
        }
      }

      div[class="links"]  {
        display: block;
        align-self: center;

        ul {
          list-style: none;
          margin: 0;

          li {
            text-align: center;
            display: inline-block;
            margin: 0 1em;

            a {
              font-size: 14px;
              color: rgba(0, 0, 0, .6);
              text-transform: uppercase;
              text-decoration: none;
              -webkit-transition: color .3s ease-in;
              -moz-transition: color .3s ease-in;
              -ms-transition: color .3s ease-in;
              -o-transition: color .3s ease-in;
              transition: color .3s ease-in;

              &[class="active"] {
                color: #DD3478;
                font-weight: 600;
              }

              &:hover {
                color: #DD3478;
              }
            }
          }
        }
      }
    }
  }
}

// 992px+
@media all and (min-width: 992px) {
}

// 1200px+
@media all and (min-width: 1200px) {
  nav {
    div {
      &[class="logo"] {
        a {
          img {
            max-width: 300px;
          }
        }
      }
    }
  }
}