nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1360px;
  height: 60px;
  background-color: #FFFFFF;
  z-index: 99999;
  padding: 0 2em;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  div {
    align-self: center;
    width: 50%;

    &.logo {
      img {
        display: block;
        margin: 0;
      }
    }

    &.links {
      ul {
        list-style: none;
        margin: 0;

        li {
          display: inline-block;
          margin: 0 1em;

          a {
            font-size: 14px;
            color: rgba(0,0,0,.6);
            text-transform: uppercase;
            text-decoration: none;
            -webkit-transition: color .3s ease-in;
               -moz-transition: color .3s ease-in;
                -ms-transition: color .3s ease-in;
                 -o-transition: color .3s ease-in;
                    transition: color .3s ease-in;

            &[aria-current="page"] {
              color: #DD3478;
              font-weight: 600;
            }

            &:hover {
              color: #DD3478;
            }
          }
        }
      }
    }
  }


}