.blog-main {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2em;
  grid-column-gap: 2em;
  row-gap: 2em;
  grid-row-gap: 2em;

  .blog-link-wrap {
    .blog-entry {
      border-right: 5px solid #DF2E7F;
      border-bottom: 5px solid #DF2E7F;
      -webkit-box-shadow: 7px 7px 15px rgba(0,0,0,.1);
      -moz-box-shadow: 7px 7px 15px rgba(0,0,0,.1);
      box-shadow: 7px 7px 15px rgba(0,0,0,.1);
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;

      .blog-entry-header  img {
        display: block;
      }

      .blog-entry-body {
        padding: 1em;

        .blog-meta, .blog-excerpt, .blog-read-more {
          color: #666666;
        }
      }

      &:hover {
        -webkit-box-shadow: 10px 10px 20px rgba(223, 46, 127, 0.2);
        -moz-box-shadow: 10px 10px 20px rgba(223, 46, 127, 0.2);
        box-shadow: 10px 10px 20px rgba(223, 46, 127, 0.2);
      }
    }
  }
}

/* 576px+ */
@media all and (min-width: 576px) {
}

/* 768px+ */
@media all and (min-width: 768px) {
  .blog-main {
    grid-template-columns: calc(50% - 1em) calc(50% - 1em);
  }
}

/* 992px+ */
@media all and (min-width: 992px) {
  .blog-main {
    grid-template-columns: calc(33.33% - 1.33em) calc(33.33% - 1.33em) calc(33.33% - 1.33em);
  }
}

/* 1200px+ */
@media all and (min-width: 1200px) {
}
