// 0px+

header {
  display: flex;
  background-color: #DF2E7F;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5em;
  border-radius: 4px;

  div {
    width: 100%;
    align-self: center;
    text-align: center;

    h1 {
      color: #FFFFFF;
      font-weight: 800;
      margin: 0 0 .5em;
      font-size: 1.5em;
      text-shadow: .03em .03em 0 rgba(0,0,0,0.4);
    }

    p {
      color: #FFFFFF;
      margin: 0;
      text-shadow: .03em .03em 0 rgba(0,0,0,0.4);
    }
  }
}

// 576px+
@media all and (min-width: 576px) {
  header {
    padding: 1.75em;
  }
}

// 768px+
@media all and (min-width: 768px) {
}

// 992px+
@media all and (min-width: 992px) {
  header {
    padding: 2em;

    div {
      h1 {
        font-size: 2.5em;
        margin: 0 0 .25em;
      }
    }
  }
}

// 1200px+
@media all and (min-width: 1200px) {
  header {
    margin-bottom: 2em;
    padding: 3.5em;

    div {
      h1 {
        font-size: 3em;
      }
    }
  }
}
