// 0px+

header {
  display: flex;
  background-color: #8F1948;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;

  div {
    width: 100%;
    align-self: center;
    text-align: center;

    h1 {
      color: #FFFFFF;
      font-weight: 800;
      margin: 0 0 .5em;
      font-size: 2em;
      text-shadow: .03em .03em 0 rgba(0,0,0,0.4);
    }

    p {
      color: #FFFFFF;
      font-size: 1em;
      margin: 0;
      text-shadow: .03em .03em 0 rgba(0,0,0,0.4);
    }
  }
}

/*
header {
  display: flex;
  background-color: #8F1948;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;

  div {
    width: 100%;
    align-self: center;
    text-align: center;

    h1 {
      color: #FFFFFF;
      font-weight: 800;
      margin: 0;
      font-size: 48px;
      text-shadow: .03em .03em 0 rgba(0,0,0,0.4);
    }

    p {
      color: #FFFFFF;
      font-size: 20px;
      margin: 0;
      text-shadow: .03em .03em 0 rgba(0,0,0,0.4);
    }
  }
}
*/