// 0px+
footer {
  padding-top: 2em;
  background-color: #07090f;
  color: rgba(255,255,255,0.5);

  div[class="footer-columns"] {
    div[class="footer-column"] {
      margin: 0 0 2em 0;

      h4[class="footer-title"] {
        font-weight: 800;
        margin: 0 0 1em;
        text-transform: uppercase;
        color: #DD3478;
      }

      a[class="footer-link"] {
        font-size: 2em;
        margin-right: .375em;
        text-decoration: none;
        color: #FFFFFF;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;

        &:hover {
          color: #DD3478;
        }
      }

      a[class="footer-jetbrains-link"] {
        margin-right: 1em;

        img {
          margin: 0;
        }
      }

      form {
        margin: 0;

        input {
          display: block;
          width: 100%;
          height: calc(1.5em + .75rem + 2px);
          font-size: .85em;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0.6em 1em;
          background-color: #202227;
          background-clip: padding-box;
          color: #FFFFFF;
          border: 2px solid transparent;
          margin-bottom: 1em;
          line-height: 1em;
          -webkit-transition: .3s all ease;
             -moz-transition: .3s all ease;
              -ms-transition: .3s all ease;
               -o-transition: .3s all ease;
                  transition: .3s all ease;

          &:focus {
            border-color: #DD3478;
            outline: none;
          }
        }

        input[type="submit"] {
          cursor: pointer;
          background-color: transparent;
          border: 2px solid #DD3478;
          color: #DD3478;
          line-height: 1em;
          margin-bottom: 0;

          &:hover {
            background-color: #DD3478;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  div[class="footer-nav"] {
    background-color: #202227;

    ul {
      padding: 1em 0;
      margin: 0;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        padding: 0 1.5em 0 0;
        font-weight: 600;
        margin: 0;

        a {
          text-decoration: none;
          font-size: .8em;
          color: #BBBBBB;

          &[class="active"] {
            color: #DD3478;
          }
        }
      }
    }
  }

  div[class="footer-bottom"] {
    text-align: center;
    padding: 1em 0;

    span[class="copyright-text"] {
      font-size: .70em;
      text-transform: uppercase;
    }
  }

  &:after {
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #8F1948;
  }
}

// 576px+
@media all and (min-width: 576px) {
}

// 768px+
@media all and (min-width: 768px) {
  footer {
    padding-top: 3em;

    div[class="footer-columns"] {
      div[class="footer-column"] {
        padding: 0 2em 0 0;
        vertical-align: top;
        display: inline-block;
        width: 33.33%;
      }
    }
  }
}

// 992px+
@media all and (min-width: 992px) {
  footer {
    div[class="footer-nav"] {
      ul {
        text-align: left;
      }
    }

    div[class="footer-bottom"] {
      text-align: left;
    }
  }
}

// 1200px+
@media all and (min-width: 1200px) {
  footer {
    padding-top: 4em;

    div[class="footer-columns"] {
      div[class="footer-column"] {
        h4[class="footer-title"] {
          margin: 0 0 1.5em;
        }
      }
    }
  }
}