div[class="doc-breadcrumbs"] {
  margin-bottom: 1.5em;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);

  a[class="crumb"] {
    display: inline-block;
    padding: 1em .25em;
    font-size: .85em;
  }

  span {
    display: inline-block;
    color: rgba(0,0,0,.2);
  }
}

// 576px+
@media all and (min-width: 576px) {
}

// 768px+
@media all and (min-width: 768px) {
}

// 992px+
@media all and (min-width: 992px) {
  div[class="doc-breadcrumbs"] {
    border-top: none;
  }
}

// 1200px+
@media all and (min-width: 1200px) {
}