div[class="doc-breadcrumbs"] {
  margin: 1.5em 0;
  padding: 1.5em 0;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

// 576px+
@media all and (min-width: 576px) {
}

// 768px+
@media all and (min-width: 768px) {
  div[class="doc-breadcrumbs"] {
    padding: 0 0 1em;
    margin: 0 0 0 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: none;
  }
}

// 992px+
@media all and (min-width: 992px) {
}

// 1200px+
@media all and (min-width: 1200px) {
}